@font-face {
    font-family: 'SpaceGrostesk-Regular';
    src: url(../fonts/SpaceGrotesk-Regular.otf);
}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url(../fonts/SpaceGrotesk-Bold.otf);
}

:root {
    --fonte: 'SpaceGrostesk-Regular';
    --fonte-bold: 'SpaceGrotesk-Bold';

    --bg-body: #dbf5fd;

    --borda-padrao: .2rem solid black;

    --bg-topo-janela: pink;

    --bg-header: #ffe8ec;
    --borda-header: #ce7685;

    --cor-pergunta-celula: #ff4d4d;

    --bg-resposta-correta: lightgreen;
    --borda-resposta-correta: darkgreen;

    --bg-resposta-incorreta: rgb(231, 146, 146);
    --borda-resposta-incorreta: darkred;
}

@media (min-width: 0px) {   
    html {
        font-size: 43%;
    }

}

@media (min-width: 375px) {
    html {
        font-size: 50%;
    }   
}

@media (min-width: 446px) {
    html {
        font-size: 62.5%;
    }   
}

@media (max-height: 700px) {
    body {
        padding: 2rem 0;
    }
}

@media (min-height: 701px) {
    body {
        padding: 0;
    }
}

h1, h2, h3, strong {
    margin: 0;
    font-family: var(--fonte-bold);
}

button {
    font-family: var(--fonte-bold);
    border: .2rem solid;
}

button:hover {
    cursor: pointer;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    gap: 2rem;
}

body {
    margin: 0;

    width: 100vw;
    height: 100vh;
    min-height: fit-content;

    font-family: var(--fonte);
    background-color: var(--bg-body);
}

.absolute {
    position: absolute;
}

#section_inicio {
    position: relative;
    width: 90rem; 
    height: 50rem;
}

.janela {
    border: var(--borda-padrao);
    border-radius: .8rem;

    font-size: 1.6rem;
    background-color: white;
}

.topo-janela > * {
    margin: 0;
    padding: 0;
}

.topo-janela {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;

    padding: .5rem 1rem;

    border-radius: .8rem .8rem 0 0;
    border-bottom: var(--borda-padrao);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-topo-janela);
}

button.fechar-janela {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;

    font-size: 1.4rem;

    background-color: transparent;
}

.conteudo-janela {
    padding: 2rem;
}

header.janela {
    top: 6%;
    left: 5%;
    
    width: 35rem;

    text-align: center;

    background-color: var(--bg-header);
    color: var(--borda-header);
    border-color: var(--borda-header);
}

header .topo-janela {
    justify-content: flex-end;
    border-color: var(--borda-header);
}

header button.fechar-janela {
    border-color: var(--borda-header);
    color: var(--borda-header);
}

header .conteudo-janela {
    padding: 2rem;
}

header h1 {
    margin: 0;

    font-size: 4rem;
}

article .conteudo-janela {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

article p {
    font-size: 1.6rem;
}

#article_instrucoes {
    width: 95%;
    max-width: 60rem;
}

button.acao {
    padding: .3rem .7rem;
    border-radius: .8rem;

    font-size: 2rem;
    background-color: var(--bg-topo-janela);
}

/* Jogo */
#main_game {
    position: relative;
}

    /* Cruzadinha */
    table {
        font-size: 2.5rem;
        text-transform: capitalize;
    }

    td {
        width: 3rem;
        height: 3rem;
        text-align: center;
        vertical-align: center;
    }

    .celula-livre {
        position: relative;
        outline: .1rem solid #131313;
    }
    
    .celula-livre .numero-pergunta {
        top: 1%;
        left: 3%;
    
        font-size: 1.25rem;
        color: var(--cor-pergunta-celula);
    }


    /* Janela de perguntas */
    #section_perguntas {
        width: 40rem;
    }

    #p_texto_pergunta {
        margin-top: 0;
    }

    #campo-resposta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    #input_resposta {
        width: 100%;
        padding: 0 .6rem;
        align-self: stretch;
    }

    /* Janela verificação */
    #aside_verificacao {
        max-width: 25rem;
        font-size: 2rem;
    }

    @media (max-width: 843px) {
        aside#aside_verificacao {
            bottom: 8rem;
            right: 12rem;
        }
    }

    @media (min-width: 844px) {
        aside#aside_verificacao {
            top: 25rem;
            right: -1rem;
        }
    }

    .janela.resposta-correta, .janela.resposta-correta button.fechar-janela {
        color: var(--borda-resposta-correta);
        background-color: var(--bg-resposta-correta);
        border-color: var(--borda-resposta-correta);
    }

    .janela.resposta-incorreta, .janela.resposta-incorreta button.fechar-janela {
        color: var(--borda-resposta-incorreta);
        background-color: var(--bg-resposta-incorreta);
        border-color: var(--borda-resposta-incorreta);
    }

        /* Conteúdo da janela de verificação */
        #aside_verificacao .conteudo-janela {
            position: relative;
        }

        #aside_verificacao button.fechar-janela {
            top: .5rem;
            right: .5rem;
        }

        #aside_verificacao h3, #aside_verificacao p {
            margin: 0;
        }

footer {
    padding: 0;
    bottom: 0;

    font-size: 15px;
    color: #ffffff;
    background-color: #2C3E50;
}

footer p {
    text-align: center;
}