@font-face {
    font-family: 'SpaceGrostesk-Regular';
    src: url(../fonts/SpaceGrotesk-Regular.otf);
}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url(../fonts/SpaceGrotesk-Bold.otf);
}

:root {
    --borda-padrao: .2rem solid black;

    --texto: 'SpaceGrostesk-Regular';
    --texto-bold: 'SpaceGrotesk-Bold';

    --cor: pink;
    --cor-bg: #D7E6EB;
}

html {
    font-size: 62.5%;
}

button {
    font-family: var(--texto-bold);
    border-style: solid;

}

button:hover {
    cursor: pointer;
}

h1, h2, h3 {
    font-family: var(--texto-bold);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    
    width: 100vw;
    height: 100vh;
    
    font-family: var(--texto);
    background-color: var(--cor-bg);
}

header {
    box-sizing: border-box;
    position: absolute;
}

header .janela-conteudo {
    padding: 3rem 4rem;
}

header h1 {
    margin: 0;

    font-size: 4rem;
}

.janela {
    border: var(--borda-padrao);
    border-radius: .8rem;

    font-size: 1.6rem;
    background-color: white;
}

.topo-janela > * {
    margin: 0;
    padding: 0;
}

.topo-janela {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;

    padding: .5rem 1rem;

    border-radius: .8rem .8rem 0 0;
    border-bottom: var(--borda-padrao);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cor);
}

button.fechar-janela {
    width: 2rem;
    height: 2rem;

    border: .2rem solid black;
    border-radius: 50%;

    background-color: transparent;

    vertical-align: middle;
}

.janela-conteudo {
    padding: 2rem;
}

article.janela {
    width: 60rem;
}

article .janela-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

article p {
    font-size: 1.6rem;
}

button.botao-acao {
    border-radius: .8rem;
    font-size: 2rem;
    padding: .3rem .7rem;

    background-color: var(--cor);
}

table {
    border: 1px #1F618D solid;
    font-size: 25px;
    margin-left: 130px;
    margin: auto;
}


tr {
    border: 1px #1F618D solid;
}

td {
    border: 1px #1F618D solid;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
}

#div_game {
    background-color: #ffffff;
    margin: auto;

    width: 800px;
    height: 800px;
}

#div_questions {
    background-color: #85C1E9;
    width: 700px;
    margin: auto;
}

#button_verify {
    width: 100px;
    margin: auto;
}

#input_answer {
    width: 100px;
    margin: auto;
}

.deadCell {
    background-color: #1F618D;
}

.availableCell {
    background-color: #ffffff;
}

footer {
    padding: 0;
    bottom: 0;

    font-size: 15px;
    color: #ffffff;
    background-color: #2C3E50;
}

footer p {
    text-align: center;
}



#div_verifiedAnswer {
    width: 500px;
    height: 70px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    vertical-align: center;
    margin-bottom: 20px;
}

.correctAnswer {
    background-color: #58D68D;
    color: #196F3D;
    border: 1px #196F3D solid;
}

.wrongAnswer {
    background-color: #EC7063;
    color: #7B241C;
    border: 1px #7B241C solid;
}